.birthdate {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-width: 280px ;
  position: relative;
  padding-left: 10px;
  margin: 0;
  gap: 15px;
}

.input__div {
  display: flex;
  flex-direction: column;

}

.input__div > label {
  font-size: 10px;
  font-weight: 600;
  bottom: 0;
  color: var(--Smokey-grey);
  transition: all 500ms ease-in-out;
}

@media (min-width: 650px) {
 .input__div > label {
  font-size: 16px;
 };
}

.birth__input {
  width: 80px;
  height: 40px;
  outline: none;
  font-weight: 700;
  font-size: 20px;
  border: 1px solid var(--Light-grey);
  border-radius: 15%;
  padding-left: 12px;
  transition: all 500ms ease-in-out;
}

@media (min-width: 650px) {
  .birth__input {
    width: 120px;
    height: 50px;
    font-size: 27px;
  };
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type=number] { -moz-appearance:textfield; }

.age_arrow {
  position: absolute;
  top: 80%;
  right: 40%;
}

@media (min-width: 650px) {
  .age_arrow{
    right: 3%;
  }
}

.age_btn {
  color: var(--Purple);
  font-size: 60px;
  cursor:pointer;
  user-select: none;
}

.age_btn > i {
  transition: all 500ms ease-in-out;
  background-color: white;
}

.age_btn > i:hover {
  transform: scale(1.15)
}

@media (min-width: 650px) {
  .age_btn > i {
    font-size: 80px;
  }
}
