.App {
  background-color: var(--Light-grey);
  display: grid;
  place-content: center;
  height: 100vh;
}


.ageCounter {
  display: grid;
  background-color: var(--White);
  padding: 1rem;
  border-radius: 5% 5% 30% 5%;
  width: 320px;
  height: 400px;
}

.line{
  min-width: 250px;
  height: 1px;
  overflow: hidden;
} 


.line2{
  width: 230px;
  border: 1px solid rgb(187, 186, 186);
} 